<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
  <h1>Rata Rata = {{avg}}</h1>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Nama</th>
            <th scope="col">Age</th>
            <th scope="col">City</th>
            <th scope="col">Grade</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
        {% for student in students %}
          <tr>
            <th scope="row">{{ student.Name }}</th>
            <td>{{ student.Age }}</td>
            <td>{{ student.City }}</td>
            <td>{{ student.Grade }}</td>
            <td>{{ student.Status }}</td>
          </tr>
          {% endfor %}
         
        </tbody>
      </table>

   <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>